public net.minecraft.client.gui.screens.inventory.BookEditScreen$DisplayCache
# public net.minecraft.client.gui.screens.inventory.BookEditScreen$DisplayCache lines
public net.minecraft.client.gui.screens.inventory.BookEditScreen$LineInfo
# public net.minecraft.client.gui.screens.inventory.BookEditScreen$LineInfo x